<div class="navbar">
  <a class="brand" href="#">首页</a>
  <ul class="nav nav-pills nav-stacked">
    <li class="dropdown">
      <a class="dropdown-toggle"
	 data-toggle="dropdown"
	 href="#">
	关于小学阅读分级标准
	<b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
	<li>
	  <%= link_to '阅读的重要性', '/importance' %>
	</li>
	<li>
	  <%= link_to '介绍', '/introduction' %>
	</li>
	<li>
	  <%= link_to '优点', '/advantage' %>
	</li>
      </ul>
    </li>
    <li class="active">
      <%= link_to('找到一本适合孩子读的书')  %>
    </li>
    <li>
      <%= link_to('核心') %>
    </li>
    <li>
      <%= link_to('小学阅读分级标准培训')  %>
    </li>
  </ul>

</div>
