<div class="navbar">

  <ul class="nav nav-pills nav-stacked">
    <li <% if @active_home-%> class='active' <% end -%>>
      <%= link_to '首页', '/home', :class => 'brand'  %>
    </li>
    <li <% if @active_find-%> class='active' <% end -%>>
      <%= link_to '找到一本适合孩子读的书', root_path  %>
    </li>
    <li <% if @active_importance-%> class='active' <% end -%>>
      <%= link_to '阅读的重要性', '/importance' %>
    </li>
    <li class="dropdown <% if @active_standard-%> active <% end -%>" >
      <a class="dropdown-toggle"
	 data-toggle="dropdown"
	 href="#">
	小学阅读分级标准
	<b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
	<li>
	  <%= link_to '介绍', '/introduction' %>
	</li>
	<li>
	  <%= link_to '优点', '/advantage' %>
	</li>
	<li>
	  <%= link_to('核心') %>
	</li>
      </ul>
    </li>

  </ul>
</div>
