<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Alice" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
	<div class="container">
	  <%= render 'layouts/navigation' %>
	  <p class="navbar-text pull-right">
	    <% if user_signed_in? %>
	    Logged in as <strong><%= current_user.email %></strong>.
	    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
	    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
	    <% else %>
	    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
	    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
	    <% end %>
	  </p>
	</div>
      </nav>

    </header>
    <div id="main" role="main">
      <div class="container">
	<div class="content">
	  <div class="row">
	    <div class="span12">
	      <%= render 'layouts/messages' %>
	      <%= yield %>
	    </div>
	  </div>
	  <footer>
	  </footer>
	</div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
